@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
/* Define Theme Variables */
@theme {

    --color-primary: #08AC0A;
    --color-subPrimary: #CDEBC9;
    --color-secondary: #011E2B;
    --color-accents: #F0F3F2;
    --color-tertiary: #5C6C75
    --font-inter: 'Inter', sans-serif;
}

/* Custom Utility Classes */
@layer utilities {
  .bodyContent {
    @apply mx-3 2xl:mx-auto 2xl:w-[1270px];
  }
}